/// theme: slide layouts
$checkpoint-slide-main-colors = #4a488e #cc7a09 #ff1530 #20aa12 #949416 #ccbd0d
$checkpoint-slide-sencodary-colors = #d496a2 #dfadee #93ef9a #e87777 #b6a7e4 #e4aef5

.bespoke-parent.checkpoint
  background-color #B08FE8

for color, i in $checkpoint-slide-main-colors

  .bespoke-slide[data-bespoke-state="checkpoint"]:nth-of-type({length($checkpoint-slide-main-colors)}n+{i})
    $secondary-bg = $checkpoint-slide-sencodary-colors[i]
    $secondary-color = darken($secondary-bg, 50)
    background-color #f1ecec
    display block
    background-image linear-gradient(90deg, color 30%, rgba(148,148,148,0) 31%), linear-gradient(to bottom, $secondary-bg 15%, transparent 15%)
    box-shadow 4px 4px 4px rgba(60,60,60,.5), -4px 4px 4px rgba(60,60,60,.5)

    & > h1
      width 30%
      color white
      float left
      box-sizing border-box
      padding 0.2em
      font-size 32px
      word-wrap break-word
      word-break break-word

      // vertically center
      position relative
      top 50%
      transform translateY(-50%)

    & > h2
      margin-left 30%
      color $secondary-color
    & > ul, & > ol
      margin-left 34%
      margin-top 10%
      & > li
        margin-bottom 1em


// layout de 2 lados (com 2 títulos e tal)
.layout-grid-2-column-with-title
  display grid
  grid-template-rows auto auto
  grid-template-columns 1fr 1fr
  grid-template-areas "t1 t2" "c1 c2"
  .c1
    grid-area c1
  .c2
    grid-area c2
  .t1
    grid-area t1
  .t2
    grid-area t2

.layout-grid-2x2-1x3-1x1
  display grid
  grid-template-rows auto auto
  grid-template-columns 1fr 1fr
  grid-template-areas "c1x1 c1x2" "c2x1 c2x2"
  .c1x1
    grid-area c1x1
  .c1x2
    grid-area c1x2
  .c2x1
    grid-area c2x1
  .c2x2
    grid-area c2x2


// default stylish images
.layout-title h1
  &::before
    background-image url(../images/sky-stellar.jpg)

.layout-section-header::after
  background-image url(../images/constellation.jpg)

.layout-stripe .stripe
  background-image url(../images/stripe-forest.jpg)


// stylish images by class
.syllabus
  .layout-title
    background-color white
    h1
      padding-bottom: 3em
      &::before
        background-image url(../images/super-mario-wallpaper.jpg)

.tools
  .layout-title
    background-color #eae695
    h1
      &:before
        background-image url(../images/unity-viking-village.jpg)
        background-position-y 40%
  .makers.layout-section-header::after
    background-image url(../images/rpgmaker-editor.jpg)
    animation movingbg-x 20s linear 0s infinite alternate
  .apis-graficas.layout-section-header::after
    background-image url(../images/codigo-opengl.png)
  .frameworks.layout-section-header::after
    background-image url(../images/incomplete-puzzle.jpg)
  .engines.layout-section-header::after
    background-image url(../images/unity-editor-hex.png)
    animation movingbg-x 20s linear 0s infinite alternate





.intro
  .layout-title h1
    &::before
      background-image url(../images/screenshot-zelda-wii-u.jpg)
      background-position center center
  .historia.layout-section-header::after
    background-image url(../images/fliperama.jpg)
    background-size cover
    background-position right
  .plataformas.layout-section-header::after
    background-image url(../images/platforms.jpg)
    background-size cover
    background-position right
  .generos.layout-section-header::after
    background-image url(../images/game-genres.jpg)
    background-size contain
    background-position center

.d-graphics
  .layout-title.bespoke-slide h1
    color #ef7a02
    background-color #ffffffaa
    font-size 4em;
    &::before
      background-image url(../images/paper-mario-spritesheet.png)
      background-position center center

  .pratica-do-goomba.layout-section-header::after
    background-image url(https://github.com/fegemo/cefet-games-goomba/raw/master/core/assets/result.gif)
    background-size cover
    image-rendering pixelated
  .libgdx.layout-section-header::after
    background-image url(../images/codigo-opengl.png)
    background-size cover
  .representacao-de-imagens.layout-section-header::after
    background-image url(../images/vector-vs-raster.jpg)
    background-size contain
    background-position center center
    background-repeat no-repeat

.movement
  .layout-title.bespoke-slide h1
    color cornflowerblue
    &::before
      background-image url(../images/movement.gif)
      background-position center
      background-size contain

.pathfinding
  .layout-title.bespoke-slide h1
    & > *
      margin-right: 0.5em;
    &::before
      background-image url(../images/pathfinding.jpg)
      background-position center
      background-size cover
  .introducao-a-pathfinding.layout-section-header::after
    background-image url(../images/pathfinding-2.png)
    background-size contain
    background-position center center
    background-repeat no-repeat
  .algoritmo-de-dijkstra.layout-section-header::after
    background-image url(../images/dijkstra.jpg)
    background-size contain
    background-position center center
    background-repeat no-repeat

.world-representation
  .layout-title.bespoke-slide h1
    & > *
      margin-right: 0.5em;
    &::before
      background-image url(../images/nav-mesh-big.png)
      background-position center
      background-size cover
  .introducao-a-pathfinding.layout-section-header::after
    background-image url(../images/pathfinding-2.png)
    background-size contain
    background-position center center
    background-repeat no-repeat
  .algoritmo-de-dijkstra.layout-section-header::after
    background-image url(../images/dijkstra.jpg)
    background-size contain
    background-position center center
    background-repeat no-repeat


.intro3
  .layout-title.bespoke-slide h1
    // color black
    // text-shadow white 2px 2px
    font-weight bold
    & > *
      margin-right: 0.5em;
    &::before
      background-image url(../images/super-mario-3d-world.jpg)
      background-position center
      background-size cover


.realtime-rendering-pt2
  .layout-title.bespoke-slide h1
    &::before
      background-image url(../images/little-big-planet-3.jpg)
      background-size cover
  .arvores-e-vegetacao.layout-section-header::after
    background-image url(../images/crysis3-foliage.jpg)
    background-size cover
  .sombreamento-tardio.layout-section-header::after
    background-image url(../images/deferred-lighting.jpg)
    background-size cover



.animation
  .layout-title h1
    &::before
      background-image url(../images/max-payne3.jpg)
      background-position top center
  // .conceitos-basicos.layout-section-header::after




// animations
@keyframes movingbg-x
  from
    background-position 0 100%
  to
    background-position 100% 100%
