
.picture-steps
  position relative
  & > *:not(:first-child)
    position absolute
    top 0
    left 0
  & > *
    &:not(.bespoke-bullet-active)
      transform initial
  &.clean
    & > *:not(:last-child):not(.bespoke-bullet-current)
      opacity 0

  .katex-display
    text-align left
  .bullet.math
  .bullet .math
    padding-top 1px

.inset-shadow
  position relative
  &:before,
  &:after
    content attr(title)
    position absolute
    color rgba(white, 0.1)
  &:before
    top 1px
    left 1px
  &:after
    top 2px
    left 2px


.layered-paragraph
  background-color rgba(215, 215, 250, 0.5);

.pure-red
  color #ff0000
.pure-green
  color #00ff00
.pure-blue
  color #0000ff

.color-portrait
  display inline-block
  width 20px
  height 20px
  border 1px solid black

  &.ffd5d5
    background-color #ffd5d5
  &.black
    background-color #000
  &.red
    background-color #f00
  &.green
    background-color #0f0
  &.blue
    background-color #00f
  &.yellow
    background-color #ff0
  &.magenta
    background-color #f0f
  &.ciano
    background-color #0ff
  &.gray
    background-color #777
  &.white
    background-color #fff


$portrait-size = 100px
.portrait,
.portrait img
  display inline-block
  width $portrait-size
  height $portrait-size
  border-radius ($portrait-size / 2)
  figcaption
    background-color transparent

.portrait.right
  float right

.appear-right
  position absolute
  left inherit
  bottom 100%
  transition bottom 200ms ease-out
  &.bespoke-bullet-active
    bottom 0
    left inherit
    right 0

.note
  padding .3em .5em
  list-style-type none
  border-radius 5px
  margin 0
  box-shadow 3px 3px 3px rgba(0,0,0,.2)
  position relative
  border 1px solid transparent
  &.info
    border-color #0ba8b8
    background linear-gradient(to right bottom,#ffffe0,#a9dbe0)
  &::before
    content ""
    margin-right 1rem
    color currentColor
    width 1em
    height 1em
    display inline-block
    float left
    shape-outside circle(50%)
    text-align center
    line-height 1em
    font-size 1em
    box-sizing border-box


$multi-column-margin = 3%
for num in (2..5)
  .multi-column-inline-list-{num}
    padding-left 0
    display flex
    flex-direction row
    align-items stretch
    & > li
      width (100/ num - (num - 1) * $multi-column-margin)%
      margin-right $multi-column-margin
      & figure
        display flex
        flex-direction column
        justify-content space-between
        height 100%
    & > :nth-child({num}n)
      margin-right 0

img[alt$="max"]
  max-width 100%
  max-height 100%

.subtly-round
  border-radius 8px

.inverted-text-colors
  background #333
  color #eee

.zoomable
  overflow hidden
  cursor zoom-in
  user-select no
  *
    user-select inherit
    transition: transform 300ms ease-out
    &.zoomed-in
      transform scale(12)

.gallery,
.gallery > p
  display flex
  flex-direction row
  img
    max-height 100%
    object-fit contain
    object-position center

.flex-equal > *
  flex 1

.fold-2
  perspective 400
  & > *:nth-child(1)
    transform rotateY( 4deg)  scale(0.95)
    transform-origin right top
  & > *:nth-child(2)
    transform rotateY(-4deg) scale(0.95)
    transform-origin left top

.smaller-text-80
  font-size 80%
.smaller-text-70
  font-size 70%

.surprise
  display inline-block
  transition all 200ms ease-in
  transform scale(1)
  &:not(.revealed)
    cursor pointer
    animation pulsating 1s ease-in-out 0s infinite alternate-reverse
  &.transitioning
    animation none
    transform scale(1) rotateZ(1turn)
  &.revealed
    transform scale(1) rotateZ(0turn)

@keyframes pulsating
  from
    transform scale(1) rotateZ(1turn)
  to
    transform scale(1.1) rotateZ(1turn)


.dl-8
  & > dt
    width 8em
  & > dd
    margin-left 8em
.dl-6
  & > dt
    width 6em
  & > dd
    margin-left 6em
.dl-3
  & > dt
    width 3em
  & > dd
    margin-left 3em

.corner-bottom-right
  position absolute
  right 0
  bottom 0

.floating-right-code pre
  float right
  width auto
  margin-left 1em
.floating-left-code pre
  float left
  width auto
  margin-right 1em
.smaller-code
  code
    font-size 70%

.item-grid
  display flex
  flex-direction row
.item-grid-col
  display flex
  flex-wrap wrap
  align-items flex-start
  justify-content space-around
  figure
    margin-top 20px

.item-180w,
.item-180w > img
  width 180px
.item-200w,
.item-200w > img
  width 200px
.item-250w,
.item-250w > img
  width 250px
.item-300w,
.item-300w > img
  width 300px
.item-200h > img
  height 200px

// stylizes images like a polaroid photo
.polaroid
  margin 0
  border 18px solid white
  box-shadow 3px 3px 2px gray
  background-color lighten(black, 7)
  color white
  font-size small
  line-height 1.5em
  text-align center
  &.light
    background-color darken(white, 20)
  figcaption
    margin 0
    padding-top 5px
    background-color white
    color black

ul.bt-tasks > li
  line-height 1em
  padding 0.15em .3em
  border-radius .2em
  border 1px solid silver
  background-color rgba(white, .3)
  font-family consolas, monospace
  font-size 75%

ul.gob-goals > li,
.gob-goal
  line-height 1em
  border-radius .2em
  border 1px solid silver
  background-color rgba(white, .3)
  & > span
    padding 0.15em .3em
    font-family consolas, monospace
    font-size 75%
    &:last-child
      border-left 1px solid silver
  &.blue
    background-color cornflowerblue
  &.green
    background-color #06D006
  &.yellow
    background-color gold
  &.pink
    background-color pink

.gob-goal
  display inline-block

ul.horizontal > li
  display inline-block
  list-style-type none
  margin-right 0.8em

// --- class specific styles
#megaman
  float right
  width 60px
  height 60px
  margin 0
.sprite
  position relative
  overflow hidden
  img
    position absolute
    animation sprite-sequence 250ms steps(3) infinite alternate-reverse
    &:hover
      animation-duration 100ms
  // arrow to the right, pointing to megaman
  + [alt$=right]
    margin-top 47px

@keyframes sprite-sequence
  from
    left 0px
  to
    left -180px


.floating
  display block
  animation floating 3s ease-in-out 0ms infinite alternate, floating-shadow 3s ease-in-out 0ms infinite alternate
  &:nth-of-type(2n),
  &:nth-child(2n)
    animation-delay 1s
  &:nth-of-type(3n),
  &:nth-child(3n)
    animation-delay 0.5s


$floating-max-height = 1em
$floating-shadow-color = rgba(black, .3)

@keyframes floating
  from
    transform translate3d(0,0,0)
  to
    transform translate3d(0, - $floating-max-height, 0)
@keyframes floating-shadow
  from
    box-shadow 0 0 0 $floating-shadow-color
  to
    box-shadow 0 $floating-max-height $floating-max-height $floating-shadow-color *0.5
